.redbox {
    background-color:#ff7b7b
}

#bigblue {
    color:blue;
    font-size:xx-large
}

.largered {
    background-color:#ff7b7b;
    font-size:x-large;
}

#leangreen {
    background-color: chartreuse;
    font-weight: bolder;
}



