h1 {
    font-family:monospace;
    color:#d5e5ff;
    border: 3px dashed #ff57e5;
}

*{
    background-color: #ffded2;
} <!--background-image: radial-gradient(#75afff, #ca96ea, pink);-->


p{
    font-family:serif;
    font-size: medium;
    font-weight: 800; 
}

.alert {
    color:red;
    font-weight:400;
    font-size:25px
}

#para-2 {
    color:green;
    border: solid 6px red;
}

#dee3 {
    color:orange;
    font-size:20px;
    border: groove 10px #00feff;
}