#madlib{
    display:none;
    
}

#madlibs{
    display:none;
}

#madlibs2{
    display:none;
}

#madlibs3{
    display:none;
}

#madlibs4{
    display:none;
}

#madlibs5{
    display:none;
}

#madlibend{
    display:none;
}